/* ---------- Global rules ---------- */

@font-face {
    font-family: Roobert;
    src: url("roobert.woff2") format("opentype");
}

body {
    overflow-x: hidden;
    background: #303;
    font: 25px Roobert;
    margin: 0;
}

a {
    font: 30px Roobert;
    color: white;
    text-align: center;
    display: block;
}

p > a {
    font: 25px Roobert;
    display: inline;
}

abbr {
    cursor: help;
    text-decoration: none;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font: 50px Roobert;
    color: white;
    text-align: center;
}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    font: 40px Roobert;
    color: white;
    text-align: center;
}

h3 {
    margin-top: 25px;
    margin-bottom: 25px;
    font: 30px Roobert;
    color: white;
    text-align: center;
}

hr {
    width: 90vw;
    height: 3px;
    background-color: white;
    margin: 50px auto 30px auto;
    border: 0;

}

img {
    width: 30px;
    height: 30px;
}

a > img {
    padding: 10px 25px;
}

.user-icon {
    width: 25px;
    height: 25px;
    padding: 0 5px;
    vertical-align: middle;
}

p {
    overflow: hidden;
    margin: 0;
    color: white;
    text-align: center;
    display: block;
}

p.error {
    padding:10px;
    margin:100px auto;
    border:2px solid white;
    border-radius:20px;
    width:fit-content;
}

p.left {
    text-align:left;
    margin-left:10px;
}

table {
    border-spacing: 0;
    color: white;
    background-color: #404;
    text-align: center;
    margin: auto;
    border: 1px solid whitesmoke;
}

tr, td, th {
    padding: 15px;
    border: 1px solid whitesmoke;
}

th {
    position: sticky;
    top: 55px;
    background-color: #606;
}

/* ---------- Header / Navbar ---------- */

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background: #3b4866;
}


.header-right {
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search {
    margin: auto;
    font-size: 25px;
    width: 30vw;
    height: 40px;
    border: 0;
    border-radius: 50px 0 0 50px;
    padding: 5px 10px;
}

.search-form {
    display: flex;
    margin: auto;
}

.header-button {
    width: 50px;
    height: 50px;
    background: #d0d0d0 url("svg/search.svg");
    border-radius: 0 50px 50px 0;
    border: 0;
    cursor: pointer;
}

.header-button:active {
    background-color: white;
}

@media all and (max-width: 1500px)
{
    .search-form {
        display: none;
    }
}

@media all and (max-width: 1000px)
{
    .header-text {
        display: none;
    }
}

/* ---------- Forms ---------- */

input, select {
    font: 25px Roobert;
    border-radius: 10px;
}

form:not(.search-form) > label {
    font: 2.5vh Roobert;
    text-align: center;
    display: block;
    border: 1vh 0 0 0;
    color: white;
}

form:not(.search-form) > input {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 2.5vh 0;
    height: 3.5vh;
    padding: 0.5vh 1vw;
    border-radius: 5vh;
    position: relative;
}

form:not(.search-form) > button {
    margin: 1vh auto;
    min-width: 10vw;
    height: 4vh;
    border-radius: 2vh;
    border: 0;
    cursor: pointer;
    display: block;
    font: 2vh Roobert;
}

/* ---------- Create Prediction form ---------- */

.prediChoicesBox {
    width: 30vw;
    height: 3.5vh;
    border: 0;
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 5vh;
    position: relative;
    margin: 1vh 0 1vh 1vw;
}

#prediNameBox {
    width: 40vw;
    height: 3.5vh;
    border: 0;
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 5vh;
    position: relative;
    left: 5vw;
}

#prediEndBox {
    width: 15vw;
    height: 3.5vh;
    border: 0;
    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 5vh;
    position: relative;
    left: 16vw;
}

.fill {
    margin: 2vh auto;
}

.add-choice, .rm-choice {
    margin: 0 2vw;
    width: 10vw;
    min-height: 4vh;
    border-radius: 2vh;
    border: 0;
    cursor: pointer;
}

.top-row, .row {
    display: flex;
    margin: auto;
}

.form-control:not(#prediNameBox, #prediEndBox) {
    width: 30vw;
    height: 3.5vh;
    border: 0;
    padding: 0.5vh 1vw;
    border-radius: 5vh;
    position: relative;
    margin: 1vh 0 1vh 1vw;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 5vh
}

.form-group > label, .fill > label {
    font: 2.5vh Roobert;
    text-align: center;
    border: 1vh 0 0 0;
    color: white;
}